<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button (click)="switchPage(0)" mat-menu-item>
        <mat-icon>insert_drive_file</mat-icon>
        <span>Monthly Budget</span>
      </button>
      <button (click)="switchPage(1)" mat-menu-item>
        <mat-icon>attach_money</mat-icon>
        <span>Transactions</span>
      </button>
      <button (click)="switchPage(2)" mat-menu-item>
        <mat-icon>timeline</mat-icon>
        <span>Return on Investment</span>
      </button>
      <button (click)="switchPage(3)" mat-menu-item>
        <mat-icon>timeline</mat-icon>
        <span>Buying vs Renting</span>
      </button>
    </mat-menu>
  </button>
        &nbsp;
        <span> Monthly Budget</span>

    </mat-toolbar>
    <mat-card class="top-card">
        <mat-card-header>
            <mat-card-title>Getting Started</mat-card-title>
        </mat-card-header>
        <mat-card-content>As you enter data in the 'Transactions' tab, this page will automatically update to show a summary of your spending for the month.
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Starting Balance</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <mat-form-field>
                <input currencyMask [(ngModel)]="value" [options]="{ prefix: '$ ', thousands: ',', decimal: '.', precision: 2 }" matInput/>
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=0">
          <mat-icon>close</mat-icon>
        </button>
            </mat-form-field>

        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Monthly Budget</mat-card-title>
        </mat-card-header>
        <mat-card-content class="float-child">
            <canvas class="float-child" baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'">
      </canvas>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Income - Expenses</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <canvas baseChart [data]="incomeExpensesBarChartData" [options]="barChartOptions" [plugins]="barChartPlugins" [type]="'bar'"> </canvas>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-content>
            <div>{{totalSavingsIncrease}}% Increase in Total Savings</div>
            <br>
            <div>{{totalSavedMonth}} Saved this Month</div>
        </mat-card-content>
    </mat-card>

    <div>
        <mat-card class="mat-card">
            <mat-card-header class="mat-card-header">
                <mat-card-title>
                    <mat-form-field appearance="fill">
                        <mat-label>Expense</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let Expense of expenses.expenses" [value]="Expense.value">
                                {{Expense.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content">
                <mat-list role="list">
                    <mat-list-item>
                        <mat-form-field class="example-full-width">
                            <input currencyMask [(ngModel)]="value" [options]="{ prefix: '$ ', thousands: ',', decimal: '.', precision: 2 }" matInput/>
                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=0">
                <mat-icon>close</mat-icon>
              </button>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <button color="primary" mat-icon-button>
              <mat-icon>done_outline</mat-icon>
            </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card class="table-card">
            <mat-card-content>
                <table mat-table [dataSource]="editDataSource">
                    <ng-container [matColumnDef]="col.key" *ngFor="let col of editColumnsSchema">
                        <th mat-header-cell *matHeaderCellDef>
                            {{ col.label }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                                <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                    <button mat-button (click)="element.isEdit = !element.isEdit">
                              Edit
                            </button>
                                </div>
                                <div *ngSwitchCase="'planned'">
                                    {{element.planned | currency:'USD':true:'1.2-2'}}
                                </div>
                                <span *ngSwitchDefault>
                            {{ element[col.key] }}
                          </span>
                            </div>
                            <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                                <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                    <button mat-button (click)="element.isEdit = !element.isEdit; setUserData(element.totals, element.planned);">Done</button>
                                </div>
                                <div class="btn-edit" *ngSwitchCase="'totals'">
                                    {{element.totals}}
                                </div>
                                <mat-form-field *ngSwitchCase="'planned'">
                                    <input currencyMask [(ngModel)]="element.planned" [options]="{ prefix: '$ ', thousands: ',', decimal: '.', precision: 2 }" matInput/>
                                    <button *ngIf="element.planned" matSuffix mat-icon-button aria-label="Clear" (click)="element.planned=0">
                              <mat-icon>close</mat-icon>
                            </button>
                                </mat-form-field>
                                <mat-form-field *ngSwitchDefault>
                                    <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="editDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: editDisplayedColumns"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

</body>
