<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button (click)="switchPage(0)" mat-menu-item>
        <mat-icon>insert_drive_file</mat-icon>
        <span>Monthly Budget</span>
      </button>
      <button (click)="switchPage(1)" mat-menu-item>
        <mat-icon>attach_money</mat-icon>
        <span>Transactions</span>
      </button>
      <button (click)="switchPage(2)" mat-menu-item>
        <mat-icon>timeline</mat-icon>
        <span>Return on Investment</span>
      </button>
      <button (click)="switchPage(3)" mat-menu-item>
        <mat-icon>timeline</mat-icon>
        <span>Buying vs Renting</span>
      </button>
    </mat-menu>
  </button>

  <span> Buying vs Renting </span>
</mat-toolbar>

<div class="column-container">
  <div class="inputs-container">
    <!-- General Inputs -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>General Inputs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="mat-card">Starting Balance
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="startingBalance"
              (input)="updateChart()"
            />
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card">Expected Investments This Year
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="expectedInvestmentsThisYear"
              (input)="updateChart()"
              step = "250"
            />
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card">Average Rate of Return (%)
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="avgRateOfReturn"
              (input)="updateChart()"
              step = ".001"
            />
          </mat-form-field>
        </mat-card>
      </mat-card-content>
    </mat-card>

    <!-- House Purchase Inputs -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>House Purchase Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="mat-card">House Price
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="housePrice"
              (input)="updateChart()"
              step = "50000"
            />
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card">Down Payment (%)
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="downPaymentPercent"
              (input)="updateChart()"
              step="0.01"
            />
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card">Mortgage Rate (%)
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="mortgageRate"
              (input)="updateChart()"
              step="0.001"
            />
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card">Mortgage Term (Years)
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="mortgageYears"
              (input)="updateChart()"
            />
          </mat-form-field>
        </mat-card>
      </mat-card-content>
    </mat-card>

    <!-- Rental Inputs -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Rental Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="mat-card">Monthly Rent
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="monthlyRent"
              (input)="updateChart()"
              step = "50"
            />
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card">Rent Growth Rate (%)
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="rentGrowthRate"
              (input)="updateChart()"
              step="0.001"
            />
          </mat-form-field>
        </mat-card>
      </mat-card-content>
    </mat-card>

    <!-- Market Assumptions -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Market Assumptions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="mat-card">Property Tax Rate (%)
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="propertyTaxRate"
              (input)="updateChart()"
              step="0.001"
            />
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card">Maintenance Rate (%)
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="maintenanceRate"
              (input)="updateChart()"
              step="0.001"
            />
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card">Home Appreciation Rate (%)
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="homeAppreciationRate"
              (input)="updateChart()"
              step="0.001"
            />
          </mat-form-field>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="chart-container">
    <mat-card class="chart-card">
      <canvas
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="'line'"
      ></canvas>
    </mat-card>
  </div>
</div>
</body>
